/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 39, ../scss/colormin.scss */
body.login_form {
  background: #f1f2f7;
}
/* line 46, ../scss/colormin.scss */
body.login_form > div {
  margin: 0 auto;
  display: block;
  max-width: 1170px;
}
/* line 54, ../scss/colormin.scss */
body.login_form > div > div {
  margin: 10% auto 0;
  display: block;
  max-width: 400px;
  background: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
}
/* line 63, ../scss/colormin.scss */
body.login_form > div > div div {
  position: relative;
}
/* line 67, ../scss/colormin.scss */
body.login_form > div > div div i {
  position: absolute;
  left: 2%;
  display: block;
  padding: 11px 12px;
  color: #999;
}
/* line 80, ../scss/colormin.scss */
body.login_form > div > div h3 {
  padding: 20px 15px;
  text-align: center;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 0 0;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  background: #41cac0;
  -moz-box-shadow: 0 4px #38B0A8;
  -webkit-box-shadow: 0 4px #38B0A8;
  box-shadow: 0 4px #38B0A8;
}
/* line 94, ../scss/colormin.scss */
body.login_form > div > div input[type="text"], body.login_form > div > div input[type="password"] {
  display: block;
  padding: 10px 12px 10px 42px;
  width: 90%;
  margin: 0 2% 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  color: #666;
  font-family: 'Open Sans Condensed', sans-serif;
}
/* line 107, ../scss/colormin.scss */
body.login_form > div > div input[type="submit"] {
  display: block;
  padding: 10px 12px;
  background: #f67a6e;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  margin: 10px auto 20px;
  font-size: 12px;
  text-transform: uppercase;
  min-width: 300px;
  -moz-box-shadow: 0 4px #e56b60;
  -webkit-box-shadow: 0 4px #e56b60;
  box-shadow: 0 4px #e56b60;
}
/* line 126, ../scss/colormin.scss */
body.login_form > div > div a {
  text-decoration: none;
  cursor: pointer;
  color: #41cac0;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  display: block;
  font-size: 14px;
}

/* line 148, ../scss/colormin.scss */
body {
  background: #f1f2f7;
}
/* line 154, ../scss/colormin.scss */
body header {
  min-height: 60px;
  background: #fff;
  display: block;
  padding: 0 15px 15px;
  position: fixed;
  width: 100%;
  z-index: 1001;
  top: 0;
}
/* line 165, ../scss/colormin.scss */
body header .ico_menu {
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  color: #999;
  margin-top: 20px;
  cursor: pointer;
}
/* line 176, ../scss/colormin.scss */
body header .admin_logo {
  position: absolute;
  left: 40%;
}
/* line 183, ../scss/colormin.scss */
body header .logout {
  display: block;
  background-color: #a9d96c;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
}
/* line 200, ../scss/colormin.scss */
body header .user_interface {
  background: none repeat scroll 0 0 #2a3542;
  display: none;
  margin-top: 11px;
  max-width: 500px;
  padding: 1%;
  position: absolute;
  right: -2px;
  min-width: 500px;
}
/* line 213, ../scss/colormin.scss */
body header .user_interface span {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  display: block;
  width: 100%;
}
/* line 223, ../scss/colormin.scss */
body header .user_interface span b {
  display: block;
  text-align: center;
}
/* line 232, ../scss/colormin.scss */
body header .user_interface:after {
  border-bottom: 10px solid #2a3542;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  display: block;
  position: absolute;
  right: 21px;
  top: -8px;
  z-index: 1000;
}
/* line 250, ../scss/colormin.scss */
body header .user_icon {
  background: none repeat scroll 0 0 #f5f5f5;
  border-radius: 40px;
  color: #999;
  display: block;
  font-size: 15px;
  height: 40px;
  margin: 0 10px;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 22%;
  width: 40px;
  outline: none;
}
/* line 275, ../scss/colormin.scss */
body aside {
  background: #2a3542;
  width: 210px;
  height: 100%;
  position: fixed;
  padding-top: 90px;
  z-index: 1000;
  top: 0;
}
/* line 285, ../scss/colormin.scss */
body aside ul {
  padding: 0;
}
/* line 291, ../scss/colormin.scss */
body aside ul li {
  margin: 0 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 296, ../scss/colormin.scss */
body aside ul li > ul {
  display: none;
  list-style: none;
}
/* line 303, ../scss/colormin.scss */
body aside ul li a {
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  padding: 15px 0 15px 10px;
  display: block;
}
/* line 311, ../scss/colormin.scss */
body aside ul li a .fa-plus {
  font-size: 11px;
  float: right;
}
/* line 318, ../scss/colormin.scss */
body aside ul li a i {
  margin-right: 10px;
  min-width: 15px;
}
/* line 329, ../scss/colormin.scss */
body aside ul li:hover {
  background: #35404d;
}
/* line 333, ../scss/colormin.scss */
body aside ul li:hover a {
  text-decoration: none;
  color: #fff;
}
/* line 338, ../scss/colormin.scss */
body aside ul li:hover a i {
  color: #ff6c60;
}
/* line 344, ../scss/colormin.scss */
body aside ul li:hover a .fa-plus {
  color: #fff;
}
/* line 363, ../scss/colormin.scss */
body #admincontent {
  margin-top: 80px;
  margin-left: 210px;
}
/* line 369, ../scss/colormin.scss */
body #admincontent .admin {
  background: #fff;
  margin: 2% 1%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 0 15px;
}
/* line 378, ../scss/colormin.scss */
body #admincontent .add_apto {
  display: block;
}
/* line 380, ../scss/colormin.scss */
body #admincontent .apto {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin-right: 3%;
  position: relative;
  border: 1px solid #f0f0f0;
  padding: 2%;
}
/* line 396, ../scss/colormin.scss */
body #admincontent .change_slide_img, body #admincontent .change_logo, body #admincontent .add_gallery, body #admincontent .add_apto, body #admincontent .change_img_google, body #admincontent .change_pdf {
  background-color: #57c8f2;
  display: block;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
  padding: 7px 10px;
  max-width: 200px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 12px 0;
  cursor: pointer;
  text-decoration: none;
}
/* line 409, ../scss/colormin.scss */
body #admincontent .change_slide_img i, body #admincontent .change_logo i, body #admincontent .add_gallery i, body #admincontent .add_apto i, body #admincontent .change_img_google i, body #admincontent .change_pdf i {
  margin-right: 15px;
}
/* line 420, ../scss/colormin.scss */
body #admincontent .remove_apto {
  color: #fff;
  padding: 5px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-color: #000;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -10px;
  top: -11px;
  text-align: center;
  cursor: pointer;
}
/* line 437, ../scss/colormin.scss */
body #admincontent #sortable {
  list-style: none;
  padding: 0;
}
/* line 442, ../scss/colormin.scss */
body #admincontent #sortable li {
  margin-right: 1%;
  width: 47%;
  display: inline-block;
  position: relative;
  padding: 2%;
  border: 1px solid #f0f0f0;
}
/* line 451, ../scss/colormin.scss */
body #admincontent #sortable li .remove_img_gallery {
  color: #fff;
  padding: 5px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-color: #000;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -10px;
  top: -11px;
  text-align: center;
  cursor: pointer;
}
/* line 472, ../scss/colormin.scss */
body #admincontent form {
  padding: 15px 0;
}
/* line 476, ../scss/colormin.scss */
body #admincontent form input[type="file"] {
  margin: 10px;
}
/* line 482, ../scss/colormin.scss */
body #admincontent form input[type="submit"] {
  background-color: #ff6c60;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 15px;
  border: none;
  margin: 0 15px;
}
/* line 495, ../scss/colormin.scss */
body #admincontent form .pdf {
  font-family: 'Open Sans Condensed', sans-serif;
}
/* line 502, ../scss/colormin.scss */
body #admincontent form .fa-file-pdf-o {
  font-size: 80px;
  color: #f4f4f4;
  text-shadow: #666 1px 1px 0;
  margin-right: 15px;
}
/* line 512, ../scss/colormin.scss */
body #admincontent form .form-group {
  padding: 0 15px;
}
/* line 517, ../scss/colormin.scss */
body #admincontent form .form-group label {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #444;
  display: block;
}
/* line 525, ../scss/colormin.scss */
body #admincontent form .form-group img {
  width: 100% !important;
  max-width: 100%;
  max-height: 200px;
}
/* line 536, ../scss/colormin.scss */
body #admincontent form .form-group output span {
  border: 1px solid #f0f0f0;
  display: inline-block;
  margin-right: 1%;
  margin-top: 10px;
  padding: 2%;
  position: relative;
  width: 47% !important;
}
/* line 554, ../scss/colormin.scss */
body #admincontent form .form-group select {
  -moz-appearance: tabpanels;
  -webkit-appearance: tabpanels;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  height: 37px;
}
/* line 563, ../scss/colormin.scss */
body #admincontent form .form-group select option {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 571, ../scss/colormin.scss */
body #admincontent form .form-group input[type="text"], body #admincontent form .form-group input[type="email"], body #admincontent form .form-group select, body #admincontent form .form-group input[type="password"] {
  display: block;
  padding: 7px 15px;
  color: #666;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #c3c3c3;
}
/* line 586, ../scss/colormin.scss */
body #admincontent form .inline {
  float: left;
  width: 48%;
  margin-right: 1%;
  min-height: 60px;
}
/* line 594, ../scss/colormin.scss */
body #admincontent form .inline:after, body #admincontent form .inline:before {
  clear: both;
}
/* line 605, ../scss/colormin.scss */
body #admincontent .full {
  clear: both;
}
/* line 613, ../scss/colormin.scss */
body #admincontent .table {
  width: 90%;
  margin: 15px 0;
}
/* line 620, ../scss/colormin.scss */
body #admincontent .table thead th {
  font-family: 'Open Sans Condensed', sans-serif;
}
/* line 633, ../scss/colormin.scss */
body #admincontent .table tbody td {
  font-family: Trebuchet MS;
}
/* line 638, ../scss/colormin.scss */
body #admincontent .table tbody td .edit {
  display: block;
  background-color: #41cac0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  padding: 5px 7px;
  text-align: center;
}
/* line 652, ../scss/colormin.scss */
body #admincontent .table tbody td .delete {
  display: block;
  background-color: #ff6c60;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  padding: 5px 7px;
  text-align: center;
}
/* line 673, ../scss/colormin.scss */
body #admincontent .add_button {
  float: right;
  display: block;
  padding: 10px 12px;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #58c9f3;
  text-decoration: none;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 686, ../scss/colormin.scss */
body #admincontent .add_button i {
  margin-right: 15px;
}
/* line 693, ../scss/colormin.scss */
body #admincontent .add_button:hover {
  padding-top: 20px;
}
/* line 703, ../scss/colormin.scss */
body #admincontent .title {
  margin: 0;
  background: #00a8b3;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px 20px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
}
/* line 715, ../scss/colormin.scss */
body #admincontent .title i {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  background: #0099A4;
  margin-right: 15px;
}
/* line 730, ../scss/colormin.scss */
body footer {
  background: #5b6e84;
  width: 100%;
  bottom: 0;
  padding: 10px 0;
  min-height: 45px;
  z-index: 999;
  position: fixed;
}
/* line 740, ../scss/colormin.scss */
body footer div {
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

/* line 754, ../scss/colormin.scss */
.usuarios {
  padding: 0 40px;
}
/* line 756, ../scss/colormin.scss */
.usuarios select {
  float: right;
  max-width: 450px;
  font-family: 'Open Sans Condensed', sans-serif;
}
/* line 762, ../scss/colormin.scss */
.usuarios .list_usuarios {
  clear: both;
}
/* line 766, ../scss/colormin.scss */
.usuarios .list_usuarios > div {
  display: inline-block;
  vertical-align: top;
  max-width: 22%;
  margin: 20px 10px 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 15px;
  background: #fff;
  overflow: hidden;
  word-wrap:break-word;
}
/* line 776, ../scss/colormin.scss */
.usuarios .list_usuarios > div span {
  display: block;
}
/* line 780, ../scss/colormin.scss */
.usuarios .list_usuarios > div img {
  max-height: 150px;
  max-width: 150px;
  display: block;
  margin: 15px auto;
}
/* line 788, ../scss/colormin.scss */
.usuarios .list_usuarios > div i {
  display: block;
  font-size: 95px;
  text-align: center;
  margin: 15px 0;
  color: #ccc;
}

/* line 802, ../scss/colormin.scss */
.search_form > .form-group {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
/* line 807, ../scss/colormin.scss */
.search_form > .form-group button {
  background: #2a3542;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  padding: 10px 30px;
  margin-top: 15px;
  border: none;
  box-shadow: none;
}
